[submodule "freertos/FreeRTOS-Kernel"]
	path = freertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/cmsis/CMSIS_6"]
	path = lib/cmsis/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6
[submodule "lib/cmsis/CMSIS-DSP"]
	path = lib/cmsis/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP
